<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}"
           type="text/css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>{% include "mainapp/includes/some_html.html" %}</h1>
            {% block content %}
            {% endblock content %}
            <p>
                <a href="/" class="btn btn-success btn-lg">
                    Главная страница
                </a>
                <a href="/news" class="btn btn-primary btn-lg">
                    Новости&raquo;
                </a>
                <a href="/contact" class="btn btn-info btn-lg">
                    Контакты
                </a>
            </p>
        </div>
    </div>
    <div class="container">
        <img src="{% static 'mainapp/img/porsche.jpg' %}" class="img-thumbnail">
        <hr>
        &copy; Все права защищены 2020
    </div>

</body>
</html>